* { 
  font-size: x-small; 
  font-family: verdana, arial, sansserif 
}
rss:RSS, rss, RSS { 
  padding: 10px; 
}
item, title, link, description { 
  display: block; 
}
channel, textinput { 
  display: block; 
  text-align: left; 
  margin-left: 10%; 
  padding-top: 20px; 
}
title { 
  color: #666666; 
  font-weight: bold; 
}
link { 
  color: #000099; 
}
description { 
  color: #666666; 
}
channel { 
  padding-top: 50px;
}
image, textinput name { 
  visibility: hidden; 
  display: none; 
}
link:before { 
  content: "URL: "; 
}
